# --- 基本ライブラリ ---
vosk
sounddevice
requests
matplotlib
japanize-matplotlib
pyopenjtalk

# --- 代替・追加ライブラリ (必要に応じてインストール) ---
# pyaudio # sounddeviceの代替
# pygame  # gTTSの再生などで使用

# --- 発展課題で利用するライブラリ ---
# gTTS
# openai
# google-generativeai